# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

.vs
Debug
/tests/gen_library/obj/x64/Release
/tests/pkggen/obj/x64/Release
*.user
/tests/pkggen_template_PKG/obj/x64/Release
/tests/server1/obj/x64/Release
/tests/xxlib_csharp/obj/x64/Release
